{% extends 'base.html.twig' %}

{% block title %}Edit Input{% endblock %}

{% block body %}
    <h1>Edit Input</h1>

    {{ include('input/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_input_index') }}">back to list</a>

    {{ include('input/_delete_form.html.twig') }}
{% endblock %}
